* {
  box-sizing: border-box; }

body {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  font-family: 'Roboto', sans-serif;
  background: #edf0f1;
  padding: 80px 0 0 0; }

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #25b99a;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .header__input {
    width: 100%;
    height: 50px;
    float: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; }
    .header__input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .header__input::-moz-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .header__input::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .header__input::-o-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
  .header__button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 25px;
    background: #ffffff;
    border: 0;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; }
    .header__button i {
      font-size: 20px;
      color: #25b99a; }

.container {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  padding: 15px; }
  @media only screen and (min-width: 650px) {
    .container {
      width: 80%; } }

.todo {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%; }
  @media only screen and (min-width: 1000px) {
    .todo {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap; } }
  .todo li {
    width: 100%;
    min-height: 50px;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    background: #fff;
    line-height: 22px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px; }
    @media only screen and (min-width: 1000px) {
      .todo li {
        margin: 10px; } }
    .todo li:last-of-type {
      margin: 0; }
      @media only screen and (min-width: 1000px) {
        .todo li:last-of-type {
          margin: 10px; } }
    @media only screen and (min-width: 1000px) {
      .todo li {
        width: 47%; } }
  .todo__buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0; }
    .todo__buttons button {
      width: 50px;
      height: 50px;
      float: left;
      background: none;
      position: relative;
      border: 0px;
      box-shadow: none;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none; }
      .todo__buttons button:last-of-type:before {
        content: '';
        width: 1px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 0;
        background: #edf0f1; }

#todo:after,
#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa; }

#todo:empty:after {
  content: 'You have nothing to do.';
  margin: 15px 0 0 0; }

#completed {
  position: relative;
  padding: 60px 0 0 0; }
  #completed li {
    color: #8a8a8a; }
  #completed .buttons__complete i {
    color: #25b99a; }
  #completed:before {
    content: '';
    width: 150px;
    height: 1px;
    background: #d8e5e0;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -75px; }
  #completed:empty:after {
    content: 'You have yet to complete any tasks.'; }

.buttons__remove, .buttons__complete {
  cursor: pointer; }
  .buttons__remove i, .buttons__complete i {
    font-size: 22px;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease; }
.buttons__remove i {
  color: #c0cecb; }
@media (hover: hover) {
  .buttons__remove:hover i {
    color: #e85656; } }
.buttons__complete i {
  color: #c0c3cb; }
@media (hover: hover) {
  .buttons__complete:hover i {
    color: #25b99a; } }

/*# sourceMappingURL=style.css.map */
