// sass --watch resources/css/style.scss:resources/css/style.css


// Mixins
@mixin flex-box($justify-content: flex-start, $align-items: stretch, $flex-direction: row, $display: flex) {
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  display: $display;
}

// Color variables
$item: #25b99a;
$list: #ff6833;
$background: #edf0f1;
$text: #444;
$no-items: #aaa;
$text-complete: #8a8a8a;
$divider: #d8e5e0;
$unhover: #c0cecb;

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  @include flex-box(center, stretch, row, flex);
  font-family: 'Roboto', sans-serif;
  background: $background;
  padding: 80px 0 0 0;
  width: 100%;
}

.list-panel {
  @include flex-box(center, stretch, row, flex);
  width: 100%;
  opacity: 0.5;
  transition: opacity 200ms ease;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: $item;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  &__input {
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 143px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }

    &::-moz-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }

    &::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }

    &::-o-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

.button {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 12px;
  border-radius: 28px;
  z-index: 2;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  i {
    font-size: 20px;
  }

  &--itemAdd,
  &--listAdd {
    right: 83px;
  }

  &--itemMenu,
  &--listMenu {
    right: 12px;
  }

  &--itemAdd,
  &--itemMenu {
    i {
      color: $item;
    }
  }

  &--listAdd,
  &--listMenu {
    i {
      color: $list;
    }
  }
}

.alert {
  display: none;
  position: absolute;
  right: 83px;
  top: 78px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  transition: opacity 200ms ease;

  &__text {
    color: $list;
    font-size: 12px;
    font-weight: 600;
  }

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -5px;
    right: 22px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid #fff;
  }
}

.container {
  @include flex-box(flex-start, center, column, flex);
  width: 100%;
  padding: 0 15px;

  @media only screen and (min-width: 650px) {
    width: 80%;
  }
}


.todo,
.list {
  @include flex-box(flex-start, center, column, flex);
  width: 100%;

  @media only screen and (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  li {
    width: 100%;
    min-height: 50px;
    font-size: 14px;
    font-weight: 500;
    color: $text;
    background: #fff;
    line-height: 22px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 10px 0 0 0;

    @media only screen and (min-width: 1000px) {
      width: 46%;
    }
  }

  &__buttons {
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 50px;
      height: 50px;
      float: left;
      background: none;
      position: relative;
      border: 0px;
      box-shadow: none;
      outline: none;

      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
    }
  }
}

.todo {
  li {
    padding: 14px 100px 14px 14px;
  }

  &__buttons {
    width: 100px;

    button {

      &:last-of-type:before {
        content: '';
        width: 1px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 0;
        background: $background;
      }
    }
  }
}

.list {
  overflow-y: scroll;

  li {
    padding: 14px 50px 14px 14px;
    cursor: pointer;
  }

  &__buttons {
    width: 50px;

    button {

      &:before {
        content: '';
        width: 1px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 0;
        background: $background;
      }
    }
  }
}

#todo,
#completed,
#list {
  &:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: $no-items;
  }
}

#todo {
  &:empty {
    &:after {
      content: 'You have nothing to do.';
      margin: 15px 0 0 0;
    }
  }
}

#list {
  &:empty {
    &:after {
      content: 'You don\'t have any lists yet.';
      margin: 15px 0 0 0;
    }
  }
}

#completed {
  position: relative;
  padding: 60px 0 0 0;

  li {
    color: $text-complete;
  }

  .buttons__complete {
    i {
      color: $item;
    }
  }

  &:before {
    content: '';
    width: 150px;
    height: 1px;
    background: $divider;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -75px;
  }

  &:empty {
    &:after {
      content: 'You have yet to complete any tasks.';
      margin: 0 0 15px 0;
    }
  }
}

.buttons {
  &__remove,
  &__complete {
    cursor: pointer;

    i {
      font-size: 22px;
      -webkit-transition: color 200ms ease;
      -moz-transition: color 200ms ease;
      -ms-transition: color 200ms ease;
      -o-transition: color 200ms ease;
      transition: color 200ms ease;
    }
  }

  &__remove {
    i {
      color: $unhover;
    }

    @media (hover:hover) {
      &:hover i {
        color: $list;
      }
    }
  }

  &__complete {
    i {
      color: $unhover;
    }

    @media (hover:hover) {
      &:hover i {
        color: $item;
      }
    }
  }
}

.menu-panel {
  @include flex-box(flex-start, stretch, row, flex);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: right 300ms ease;
}

.panel {
  &__cover {
    width: 20%;
  }

  &__content {
    @include flex-box(flex-start, center, column, flex);
    width: 80%;
    height: 100%;
    background: $background;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  }
}

.menu {
  //position: fixed;
  width: 100%;
  height: 80px;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: $list;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  &__input {
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 143px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }

    &::-moz-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }

    &::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }

    &::-o-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}
