* {
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 0;
  background: transparent; }

body {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  font-family: 'Roboto', sans-serif;
  background: #edf0f1;
  padding: 145px 0 0 0;
  width: 100%; }

.list-panel {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 100%;
  opacity: 0.5;
  transition: opacity 200ms ease; }

.header {
  width: 100%;
  height: 125px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #25b99a;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .header__title {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .header__input {
    position: relative;
    top: 15px;
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 123px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; }
    .header__input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .header__input::-moz-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .header__input::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .header__input::-o-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }

.title__text {
  color: rgba(255, 255, 255, 0.85);
  font-size: 20px;
  font-weight: 600; }

.button {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 12px;
  border-radius: 28px;
  z-index: 2;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  .button i {
    font-size: 20px; }
  .button--itemAdd, .button--listAdd {
    right: 83px; }
  .button--itemMenu, .button--listMenu {
    right: 12px; }
  .button--itemAdd, .button--itemMenu {
    top: 57px; }
    .button--itemAdd i, .button--itemMenu i {
      color: #25b99a; }
  .button--listAdd i, .button--listMenu i {
    color: #ff6833; }

.alert {
  position: absolute;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  transition: opacity 200ms ease; }
  .alert__text {
    color: #ff6833;
    font-size: 12px;
    font-weight: 600; }
  .alert--list {
    display: none;
    right: 83px;
    top: 78px;
    transition: opacity 200ms ease; }
    .alert--list::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: -5px;
      right: 22px;
      border-left: 5px solid rgba(255, 255, 255, 0);
      border-right: 5px solid rgba(255, 255, 255, 0);
      border-bottom: 5px solid #fff; }
  .alert--active {
    display: none;
    left: 15px;
    top: 91.5px;
    z-index: 10;
    transition: opacity 200ms ease; }
    .alert--active::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 18px;
      right: -5px;
      border-top: 5px solid rgba(255, 255, 255, 0);
      border-left: 5px solid #ff6833;
      border-bottom: 5px solid rgba(255, 255, 255, 0); }

.container {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  padding: 0 15px; }
  @media only screen and (min-width: 650px) {
    .container {
      width: 80%; } }

.todo,
.list {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%; }
  @media only screen and (min-width: 1000px) {
    .todo,
    .list {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap; } }
  .todo li,
  .list li {
    width: 100%;
    min-height: 50px;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    background: #fff;
    line-height: 22px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
    margin: 10px 0 0 0; }
    @media only screen and (min-width: 1000px) {
      .todo li,
      .list li {
        width: 46%; } }
  .todo__buttons,
  .list__buttons {
    height: 50px;
    position: absolute;
    top: 0;
    right: 0; }
    .todo__buttons button,
    .list__buttons button {
      width: 50px;
      height: 50px;
      float: left;
      background: none;
      position: relative;
      border: 0px;
      box-shadow: none;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none; }

.todo li {
  padding: 14px 100px 14px 14px; }
.todo__buttons {
  width: 100px; }
  .todo__buttons button:last-of-type:before {
    content: '';
    width: 1px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    background: #edf0f1; }

.list {
  overflow-y: scroll; }
  .list li {
    padding: 14px 50px 14px 14px;
    cursor: pointer; }
  .list__buttons {
    width: 50px; }
    .list__buttons button:before {
      content: '';
      width: 1px;
      height: 30px;
      position: absolute;
      top: 10px;
      left: 0;
      background: #edf0f1; }

#todo:after,
#completed:after,
#list:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa; }

#todo:empty:after {
  content: 'You have nothing to do.';
  margin: 15px 0 0 0; }

#list:empty:after {
  content: 'You don\'t have any lists yet.';
  margin: 15px 0 0 0; }

#completed {
  position: relative;
  padding: 60px 0 0 0; }
  #completed li {
    color: #8a8a8a; }
  #completed .buttons__complete i {
    color: #25b99a; }
  #completed:before {
    content: '';
    width: 150px;
    height: 1px;
    background: #d8e5e0;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -75px; }
  #completed:empty:after {
    content: 'You have yet to complete any tasks.';
    margin: 0 0 15px 0; }

.buttons__remove, .buttons__complete {
  cursor: pointer; }
  .buttons__remove i, .buttons__complete i {
    font-size: 22px;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease; }
.buttons__remove i {
  color: #c0cecb; }
@media (hover: hover) {
  .buttons__remove:hover i {
    color: #ff6833; } }
.buttons__complete i {
  color: #c0cecb; }
@media (hover: hover) {
  .buttons__complete:hover i {
    color: #25b99a; } }

.menu-panel {
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: right 300ms ease; }

.panel__cover {
  width: 20%;
  position: relative; }
.panel__content {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 80%;
  height: 100%;
  background: #edf0f1;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15); }

.menu {
  width: 100%;
  height: 80px;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #ff6833;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .menu__input {
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 143px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; }
    .menu__input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .menu__input::-moz-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .menu__input::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .menu__input::-o-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }

#activeList {
  border-left: 5px solid #ff6833; }

/*# sourceMappingURL=style.css.map */
