// sass --watch resources/css/style.scss:resources/css/style.css


// Mixins
@mixin flex-box($justify-content: flex-start, $align-items: stretch, $flex-direction: row, $display: flex) {
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  display: $display;
}

// Color variables
$white: #f5f5f5;
$blue: #137a86;
$dark-blue: #1b404f;
$blackish: #031a23;
$green: #9ffc9f;

* {
  box-sizing: border-box;

}

body {
  @include flex-box(center, stretch, row, flex);
  font-family: 'Roboto', sans-serif;
  background: #edf0f1;
  padding: 80px 0 0 0;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #25b99a;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  &__input {
    width: 100%;
    height: 50px;
    float: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }

    &::-moz-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }

    &::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }

    &::-o-input-placeholder {
      color: rgba(255, 255, 255, 0.75);
    }
  }

  &__button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 25px;
    background: #ffffff;
    border: 0;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    i {
      font-size: 20px;
      color: #25b99a;
    }
  }
}

.container {
  @include flex-box(flex-start, center, column, flex);
  width: 100%;
  padding: 15px;

  @media only screen and (min-width: 650px) {
    width: 80%;
  }
}

.todo {
  @include flex-box(flex-start, center, column, flex);
  width: 100%;

  @media only screen and (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  li {
    width: 100%;
    min-height: 50px;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    background: #fff;
    line-height: 22px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;

    @media only screen and (min-width: 1000px) {
      margin: 10px;
    }

    &:last-of-type {
      margin: 0;

      @media only screen and (min-width: 1000px) {
        margin: 10px;
      }
    }

    @media only screen and (min-width: 1000px) {
      width: 47%;
    }
  }

  &__buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 50px;
      height: 50px;
      float: left;
      background: none;
      position: relative;
      border: 0px;
      box-shadow: none;
      outline: none;

      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;

      &:last-of-type:before {
        content: '';
        width: 1px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 0;
        background: #edf0f1;
      }
    }
  }
}

#todo,
#completed {
  &:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaa;
  }
}

#todo {
  &:empty {
    &:after {
      content: 'You have nothing to do.';
      margin: 15px 0 0 0;
    }
  }
}

#completed {
  position: relative;
  padding: 60px 0 0 0;

  .buttons__complete {
    i {
      color: #25b99a;
    }
  }

  &:before {
    content: '';
    width: 150px;
    height: 1px;
    background: #d8e5e0;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -75px;
  }

  &:empty {
    &:after {
      content: 'You have yet to complete any tasks.';
    }
  }
}

.buttons {
  &__remove,
  &__complete {
    cursor: pointer;

    i {
      font-size: 22px;
      -webkit-transition: color 200ms ease;
      -moz-transition: color 200ms ease;
      -ms-transition: color 200ms ease;
      -o-transition: color 200ms ease;
      transition: color 200ms ease;
    }
  }

  &__remove {
    i {
      color: #c0cecb;
    }

    @media only screen and (max-width: 1000px) {
      &:active i {
        color: #e85656;
      }
    }

    @media only screen and (min-width: 1000px) {
      &:hover i {
        color: #e85656;
      }
    }
  }

  &__complete {
    i {
      color: #c0c3cb;
    }

    @media only screen and (max-width: 1000px) {
      &:active i {
        color: #25b99a;
      }
    }

    @media only screen and (min-width: 1000px) {
      &:hover i {
        color: #25b99a;
      }
    }
  }
}
